body{
    background-color: antiquewhite;
}

#stats{
    width: 50%;
    height: 30%;
    background-color: aquamarine;
    padding-bottom: 20px;
}
.sentence{
    text-align: right;
}
#addItems{
   
    height: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
   position: fixed;
   top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ensures exact centering */
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: rgb(14, 148, 197); /* Optional: to make sure it stands out */
    border-radius: 50%; /* Makes it circular if needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* #addItems{
   background-color: transparent;
} */
/* #listcontainer{
    width: 50%;
    
} */

#sidebar{
    display: table-column;
   
}

 #list{

    
    padding-bottom: 20px;
    list-style: none;
    text-align: center;
    font-size: x-large;
 }

 #foot{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   position: fixed;
   bottom: 0;
    
 }

 ul button{
    width: 100%;
 }

 #list li{
    width: 100%;
 }
 #list li button{
    width : 20%
 }